.App {}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info input, .info button{
  width: 300px;
  margin: 10px 0px;
}


Profile{
  max-height: 60vh;
}

Profile img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
